@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.gov-container {
  display: flex;
  height: 100vh;
  font-family: "Comic Neue", cursive;
}

.gov-sidebar {
  width: 70px;
  background-color: #2e4e46;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.gov-logo .logo-img {
 width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
}

.gov-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gov-icons {
   display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 1.5rem;
  color: white;
  margin: 0 auto;
  margin-top: 60px;
}

.gov-icons a,
.gov-icons svg {
  color: white;
  text-decoration: none;
}

.gov-icons .active {
   border: 2px solid #C4CE5F;
  border-radius: 8px;
  color: burlywood;
  padding: 5px;
}

.gov-content {
  flex: 1;
  padding: 40px;
  background-color: #DCE1E9;
}

.schemes-section h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.schemes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.scheme-card {
  background-color: #F0F7F4;
  border-radius: 20px;
  height: 114px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.scheme-card h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.scheme-card p {
  font-size: 13px;
  color: #2e4e46;
}

.related-news-section h2 {
  margin-bottom: 10px;
}

.news-card {
  background-color: #F0F7F4;
  border-radius: 20px;
  height: 40px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

.news-item {
  font-weight: 600;
  font-size: 18px;
  color: #364f49;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
}

.news-item:hover {
  color: #1d2f29;
}

/* GovSchemes.css */

.scheme-link {
  display: inline-block;
  margin-top: 4px;
  color: #0066cc;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease, transform 0.2s ease;
}

.scheme-link:hover {
  color: #004a99;
  text-decoration: underline;
  transform: translateX(2px);
}
